{% block body %}
<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<style type="text/css">
		h2{
			text-align: center;
		}
		body
		{
			height: 100%
			width:150px;
			padding-left: 6px;
			padding-right: 60px;
		}
		body.solid{border-style: solid;}
	</style>
</head>
<body class="solid">
<h2><u>Interview Preparation updated on Jan 2021</u></h2><br>
<h3>4 Simple Steps To Prepare For an Interview</h3>
<p>Interview is an opportunity for both the employer and the applicant to gather information. The employer wants to know if you, the applicant, have the skills, knowledge, self-confidence, and motivation necessary for the job. At this point you can be confident that the employer saw something of interest in your resume. He or she also wants to determine whether or not you will fit in with the organization's current employees and philosophy. Similarly, you will want to evaluate the position and the organization, and determine if they will fit into your career plans. The interview is a two-way exchange of information. It is an opportunity for both parties to market themselves. The employer is selling the organization to you, and you are marketing your skills, knowledge, and personality to the employer.
</p>
<h3>Interview Preparation</h3>
<p>Research is a critical part of preparing for an interview. If you haven't done your homework, it is going to be obvious. Spend time researching and thinking about yourself, the occupation, the organization, and questions you might ask at the end of the interview.
</p>

<h2>Step 1: Know Yourself</h2>
<p>The first step in preparing for an interview is to do a thorough self-assessment so that you will know what you have to offer an employer. It is very important to develop a complete inventory of skills, experience, and personal attributes that you can use to market yourself to employers at any time during the interview process. In developing this inventory, it is easiest to start with experience. Once you have a detailed list of activities that you have done (past jobs, extra-curricular involvements, volunteer work, school projects, etc.),it is fairly easy to identify your skills.</p>
<p>Simply go through the list, and for each item ask yourself "What could I have learned by doing this?" "What skills did I develop?" "What issues/circumstances have I learned to deal with?" Keep in mind that skills fall into two categories - technical and generic. Technical skills are the skills required to do a specific job. For a laboratory assistant, technical skills might include knowledge of sterilization procedures, slide preparation, and scientific report writing. For an outreach worker, technical skills might include counseling skills, case management skills, or program design and evaluation skills. Generic skills are those which are transferable to many work settings. Following is a list of the ten most marketable skills. You will notice that they are all generic.</p>
<pre>
* Analytical/Problem Solving
* Flexibility/Versatility
* Interpersonal
* Oral/Written Communication
* Organization/Planning
* Time Management
* Motivation
* Leadership
* Self-Starter/Initiative
* Team Player
</pre>
<p>Often when people think of skills, they tend to think of those they have developed in the workplace. However, skills are developed in a variety of settings. If you have ever researched and written a paper for a course, you probably have written communication skills. Team sports or group projects are a good way to develop the skills required of a team player and leader. Don't overlook any abilities you may have When doing the research on yourself, identifying your experience and skills is important, but it is not all that you need to know. Consider the answers to other questions such as:</p>
<pre>
* How have I demonstrated the skills required in this position?
* What are my strong points and weak points?
* What are my short term and long term goals?
* What can I offer this particular employer?
* What kind of environment do I like? (i.e. How do I like to be supervised? Do I like a fast pace?)
* What do I like doing?
* Apart from my skills and experience, what can I bring to this job?
</pre>
<h2>Step 2: Know the Occupation</h2>
<p>The second step in preparing for an interview is to research the occupation. This is necessary because in order to present a convincing argument that you have the experience and skills required for that occupation, you must first know what those requirements and duties are. With this information uncovered, you can then match the skills you have (using the complete skills/experience inventory you have just prepared) with the skills you know people in that occupational field need. The resulting "shortlist" will be the one that you need to emphasize during the interview.</p>

<p>It is also in your best interest to identify the approximate starting salary for that position, or those similar. There are several ways to find out about an occupation:</p>

<p>Acquire a copy of the job description from the employer (Human Resources/Personnel) or check with Student Employment Services. If you are responding to an advertisement, this may also supply some details.</p>

<p>The Career Resource Centre has general information files on a variety of occupations. Make sure you have read through the appropriate file and are updated on the occupation. If you belong to a professional association related to the occupation, use its resources. These associations often publish informative newsletters and sponsor seminars. It is also a good way to meet people working in the field. Conduct information interviews with people working in the field. Read articles about people in the occupation, and articles written by people in the occupation. Sources include newspapers, magazines and the internet. Find out what the future trends are in the area. Is technology changing the job?</p>
<h2>Step 3: Know the Organization</h2>
<p>
The more you know about an organization, the better prepared you will be to discuss how you can meet its needs. Some of the characteristics that you should know about an organization are:</p>

<pre>
* Where is it located?
* How big is it?
* What are its products and who does it serve?
* How is the organization structured?
* What is its history?
* Have there been any recent changes, new developments?</pre>

<p>There are a number of ways in which you can access this information. Most medium- to large-sized organizations publish information about themselves. You can access them in number of ways:</p>

<pre>
* On campus at the Student Employment Services (company literature and business directories) or at the Drake Centre Library
* The Winnipeg Centennial Library has a business microfiche with information on over 5000 Canadian companies and business directories
* Many companies have internet home pages which you can locate by searching by industry and company name
* Finally, you can visit or phone the organization and request some information on their products, services or areas of research.</pre>

<p>If the organization is fairly small, or fairly new, there may not be much information published. In this case, it will be necessary to do an information interview. Contact someone within the organization, introduce yourself, explain that you are considering moving into the field, and ask if it would be possible to meet with him/her to inquire about the company/organization and about what exactly the position would involve.
</p>
<h2>Step 4: Prepare Questions</h2>
<p>Having completed your background research, you are now ready to prepare questions to ask the interviewer(s). Try to think of questions for which the answer was not readily available in company literature. Intelligent well thought-out questions will demonstrate your genuine interest in the position. Be careful how many questions you ask, however, as too many can imply you feel the interview was not successfully run. Pick your questions with care - this is your chance to gather information, so ask about what you really want to know. Avoid sounding critical by mentioning negative information you may have discovered. This is one of the most effective ways to compare different employers, so for issues of particular importance to you (for example, whether they support staff upgrading),you should ask the same questions of each employer. Some sample questions are:</p>

<pre>
* What are the most significant factors affecting your business today? How have changes in technology most affected your business today?
* How has your business/industry been affected by the recession?
* How has your company grown or changed in the last couple of years?
* What future direction do you see the company taking?
* Where is the greatest demand for your services or product?
* Where is most of the pressure from increased business felt in this company?
* Which department feels it the most?
* How do you differ from your competitors?
* How much responsibility will I be given in this position?
* What do you like about working with this organization?
* Can you tell me more about the training program?
* Have any new product lines been introduced recently?
* How much travel is normally expected?
* What criteria will be used to evaluate my performance?
* Will I work independently or as part of a team?
* How did you advance to your position?
* What are the career paths available in this organization?
* When can I expect to hear from you regarding this position?
</pre>

<p>It is very important to ask the last question because employers want to hire individuals who are interested in the position - and asking this question definitely helps to demonstrate interest on your part. Exercise judgment when asking questions to an employer. When being interviewed by a large company that has a high profile, one would not ask the question "What is the history of your company and how was your company started?" You can find the answer to this question in the company's annual report or articles in magazines/newspapers. However, small- and medium-sized companies do not always produce publicly available annual reports and it may be difficult to access information on the company and its role in the industry. This question is appropriate if you have exercised all other ways to find out the answer.
Similar CategoriesDifference b/w hard work and smart workTell me about yourself UST Global HR interview Questions and tips HR InterviewCover Letter Checklist.</p>

<p>ONLINE TESTS,Online Quantitative test,Online Verbal Ability Test,Online Reasoning Test,Online Data Interpretation Test,Online Assesment Test,Technical Online Tests,IT companies Online Test,Non IT companies And Bank Online Test,Basic General Knowledge,Basic General Knowledge Level-2,Online Current Affairs Test,Online GATE Test,Online CAT Test.
</p>

</body>
</html>
{% endblock %}