<!DOCTYPE html>
<html>
<head>
<title></title>
<style type="text/css">
    .h2{
      color: #008CBA
    }
  .a{
  border: none;
  background-color: #008CBA;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
body{
  padding-left:20%;
  padding-right: 10px;
}
  </style>
</head>

<body>
  <ol>
<li><p><h3 style="font-size:20px">What is wireless communication concept?</h3></p></li>
<a href="https://www.techopedia.com/definition/10062/wireless-communications" style="font-size:20px">Answer:techopedia.com</a>

<li><p><h3 style="font-size:20px">What are the different types of transmission impairment?</h3></p></li>
<a href="https://www.sciencedirect.com/topics/computer-science/delay-distortion" style="font-size:20px">Answer:sciencedirect.com</a>

<li><p><h3 style="font-size:20px">What do you mean by Ad-hoc networks?</h3></p></li>
<a href="https://www.techopedia.com/definition/5868/ad-hoc-network" style="font-size:20px">Answer:techopedia.com</a>

<li><p><h3 style="font-size:20px">What are the criteria necessary for an effective and efficient network?</h3></p></li>
<a href="https://practice.geeksforgeeks.org/problems/what-are-the-criteria-necessary-for-an-effective-and-efficient-network" style="font-size:20px">Answer:geeksforgeeks.com</a>

<li><p><h3 style="font-size:20px">List any five features of Java?</h3></p></li>
<a href="https://www.studytonight.com/java/features-of-java.php" style="font-size:20px">Answer:studytonight.com</a>

<li><p><h3 style="font-size:20px">Java.util.regex consists of which classes?</h3></p></li>
<a href="https://www.geeksforgeeks.org/regular-expressions-in-java/" style="font-size:20px">Answer:geeksforgeeks.com</a>

<li><p><h3 style="font-size:20px">When a switch is said to be congested?</h3></p></li>
<a href="https://www.learnpick.in/questions/details/1914/when-a-switch-is-said-to-be-congested#:~:text" style="font-size:20px">Answer:learnpick.com</a>

<li><p><h3 style="font-size:20px">Tell Me About An Accomplishment You Are Most Proud Of</h3></p></li>
<a href="https://www.wayup.com/guide/answer-tell-accomplishment-youre-proud/#:~:text=When%20the%20hiring%20manager%20asks,so%20don't%20be%20shy." style="font-size:20px">Answer:wayup.com</a>

<li><p><h3 style="font-size:20px">How Optimistic Are You About The Company’s Future And Your Future With The Company?</h3></p></li>
<a href="https://www.livecareer.com/resources/interviews/questions/how-optimistic-are-you-about-the-companys-future" style="font-size:20px">Answer:livecareer.com</a>

<li><p><h3 style="font-size:20px">How Quickly Is The Field Growing</h3></p></li>
<a href="https://www.thebalancecareers.com/top-fastest-growing-jobs-2059649" style="font-size:20px">Answer:thebalancecareers.com</a>


  <h2 align="center" style="margin-right:20%"><a href="{% url 'query' %}"><button class="a">click here to post the query</button></a></h2>

</ol>
</body>
</html>

			



