<!DOCTYPE html>
<html>
<head>
<title></title>
<style type="text/css">
    .h2{
      color: #008CBA
    }
  .a{
  border: none;
  background-color: #008CBA;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
body{
  padding-left:20%;
  padding-right: 10px;
}
  </style>
</head>

<body>
  <ol>
    <li><p><h3 style="font-size:20px">What is AC voltage controller?</h3></p></li>
<a href="https://electricalbaba.com/single-phase-ac-voltage-controller-explained/" style="font-size:20px">Answer:electricalbaba.com</a>

<li><p><h3 style="font-size:20px">Define Gate Charge in MOSFET?</h3></p></li>
<a href="https://www.rohm.com/electronics-basics/transistors/total-gate-charge#" style="font-size:20px">Answer:rohm.com</a>

<li><p><h3 style="font-size:20px">Why thyristor is considered as Charge controlled device?</h3></p></li>
<a href="https://www.alpinecoachtree.com/total-mep-course-material/7035/thyristor-considered-charge-controlled-device/#:" style="font-size:20px">Answer:alpinecoachtree.com</a>

<li><p><h3 style="font-size:20px">What are the advantage of free wheeling diode in a Full Wave rectifier?</h3></p></li>
<a href="https://www.learnpick.in/questions/details/4429/what-are-the-advantage-of-free-wheeling-diode-in-a-full-wave" style="font-size:20px">Answer:learnpick.com</a>

<li><p><h3 style="font-size:20px">Which waveform scheme introduces bandwidth compression?</h3></p></li>
<a href="https://www.sanfoundry.com/digital-communications-interview-questions-answers-freshers/#:~:text=Which%20waveform%20scheme%20introduces%20bandwidth%20compression%3F&text=Explanation%3A%20Multilevel%20codes%20increases%20the,for%20the%20given%20data%20rate." style="font-size:20px">Answer:sanfoundry.com</a>

<li><p><h3 style="font-size:20px">What is the range of frequency in commercial AM broadcasting?</h3></p></li>
<a href="https://fas.org/man/dod-101/navy/docs/es310/AM.htm#:~:text=The%20frequency%20band%20used%20for,falls%20in%20the%20audio%20spectrum." style="font-size:20px">Answer:fas.org</a>

<li><p><h3 style="font-size:20px">Which method should be implemented for reducing bandwidth?</h3></p></li>
<a href="https://www.sanfoundry.com/digital-communications-interview-questions-answers-freshers/#:~:text=11.,be%20implemented%20for%20reducing%20bandwidth%3F&text=Explanation%3A%20The%20transmission%20bandwidth%20required,signalling%20method%20can%20be%20used." style="font-size:20px">Answer:sanfoundry.com</a>

<li><p><h3 style="font-size:20px">Are You A Leader Or A Follower?</h3></p></li>
<a href="https://careersidekick.com/leader-or-follower/" style="font-size:20px">Answer:careersidekick.com</a>

<li><p><h3 style="font-size:20px">Describe Your Supervisor’S Management Style</h3></p></li>
<a href="https://www.livecareer.com/resources/interviews/questions/describe-your-supervisors-management-style" style="font-size:20px">Answer:livecareer.com</a>

<li><p><h3 style="font-size:20px">Give Me An Example Of A Time You Did Something Wrong. How Did You Handle It?</h3></p></li>
<a href="https://www.livecareer.com/resources/interviews/questions/give-an-example-of-a-time-you-did-something-wrong" style="font-size:20px">Answer:livecareer.com</a>


<h2 align="center" style="margin-right:20%"><a href="{% url 'query' %}"><button class="a">click here to post the query</button></a></h2>

</ol>
</body>
</html>
