<!DOCTYPE html>
<html>
<head>
<title></title>
<style type="text/css">
		.h2{
			color: #008CBA
		}
		.a{
  border: none;
  background-color: #008CBA;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
body{
  padding-left:20%;
  padding-right: 10px;
}
</style>
</head>
<body>
  <ol>
  <li><p><h3 style="font-size:20px">When flow is supersonic then the converging and diverging passage is respectively known as?</h3></p></li>
  <a href="https://brainly.in/question/2970313" target="_blank" style="font-size:20px">Answer:barainly.in</a>  

<li><p><h3 style="font-size:20px">For 1:2:4 ratios the weight of cement is 50 kg then how many kg are the weight of sand and aggregate?</h3></p></li>
  <a href="https://www.quora.com/For-1-2-4-ratio-the-weight-of-cement-is-50-kg-then-how-many-kg-are-the-weight-of-sand-and-aggregate" target="_blank" style="font-size:20px">Answer:quora.com</a>  

<li><p><h3 style="font-size:20px">How many topologies exist in networks?</h3></p></li>
  <a href="https://prepinsta.com/reliance-jio/technical-interview-for-ece-eee/" target="_blank" style="font-size:20px">Answer:prepinsta.com</a>  

<li><p><h3 style="font-size:20px">Which topology exists in your college?</h3></p></li>
  <a href="https://prepinsta.com/reliance-jio/technical-interview-for-ece-eee/" target="_blank" style="font-size:20px">Answer:prepinsta.com</a>  

<li><p><h3 style="font-size:20px">Explain the network Indian Railways implement.</h3></p></li>
  <a href="http://www.knowindia.net/rail.html" target="_blank" style="font-size:20px">Answer:knowindia.net</a>  

<li><p><h3 style="font-size:20px">Which is faster 4G or Wi-Fi?</h3></p></li>
  <a href="https://www.quora.com/Which-is-faster-4G-or-Wi-Fi" target="_blank" style="font-size:20px">Answer:quora.com</a>  

<li><p><h3 style="font-size:20px">Why do you want to join Reliance industries?</h3></p></li>
  <a href="faceprep.in/reliance/reliance-industries-interview-questions/" target="_blank" style="font-size:20px">Answer:faceprep.in</a>  

<li><p><h3 style="font-size:20px">How do you think you can contribute to the success of our company?</h3></p></li>
  <a href="faceprep.in/reliance/reliance-industries-interview-questions/" target="_blank" style="font-size:20px">Answer:faceprep.in</a>  

<li><p><h3 style="font-size:20px">What do you know about the company's recent products/services in the market?</h3></p></li>
  <a href="faceprep.in/reliance/reliance-industries-interview-questions/" target="_blank" style="font-size:20px">Answer:faceprep.in</a>  

<li><p><h3 style="font-size:20px">Why should we hire you?</h3></p></li>
  <a href="faceprep.in/reliance/reliance-industries-interview-questions/" target="_blank" style="font-size:20px">Answer:faceprep.in</a>  




<h2 align="center"><a href="{% url 'query' %}"><button class="a">click here to post the query</button></a></h2>
</ol>

</body>
</html>