<!DOCTYPE html>
<html>
<head>
<title></title>
<style type="text/css">
    .h2{
      color: #008CBA
    }
  .a{
  border: none;
  background-color: #008CBA;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
body{
  padding-left:20%;
  padding-right: 10px;
}
  </style>

</head>
<body>
  <ol>
<li><p><h3 style="font-size:20px">What is data abstraction? what are the three levels of data abstraction with Example?</h3></p></li>
<a href="https://www.conduiraonline.com/index.php/detail/1955-" target="_blank" style="font-size:20px">Answer:conduiraonline.com</a>

<li><p><h3 style="font-size:20px">What is a command-line argument?</h3></p></li>
<a href="https://www.conduiraonline.com/index.php/detail/1955-" target="_blank" style="font-size:20px">Answer:conduiraonline.com</a>

<li><p><h3 style="font-size:20px">Advantages of a macro over a function?</h3></p></li>
<a href="https://www.conduiraonline.com/index.php/detail/1955-" target="_blank" style="font-size:20px">Answer:conduiraonline.com</a>

<li><p><h3 style="font-size:20px"> Which header file should you include if you are to develop a function which can accept a variable number of arguments?</h3></p></li>
<a href="https://www.conduiraonline.com/index.php/detail/1955-" target="_blank" style="font-size:20px">Answer:conduiraonline.com</a>

<li><p><h3 style="font-size:20px">What is the Difference Between Hard Work and Smart Work?</h3></p></li>
<a href="https://prepinsta.com/tcs-nqt/placement-papers/interview-questions/hr-round/what-is-the-difference-between-hard-work-and-smart-work/" target="_blank" style="font-size:20px">Answer:prepinsta.com</a>

<li><p><h3 style="font-size:20px">Why TCS and CEO OF TCS?</h3></p></li>
<a href="https://prepinsta.com/tcs-nqt/placement-papers/interview-questions/hr-round/why-tcs/" target="_blank" style="font-size:20px">Answer:prepinsta.com</a>

<li><p><h3 style="font-size:20px">If you get a job with a higher package from here, what will you do?</h3></p></li>
<a href="https://prepinsta.com/tcs-nqt/placement-papers/interview-questions/hr-round/if-you-get-a-job-with-a-higher-package-from-here-what-will-you-do/" target="_blank" style="font-size:20px">Answer:prepinsta.com</a>

<li><p><h3 style="font-size:20px">Why should I hire you within 200 students?</h3></p></li>
<a href="https://prepinsta.com/tcs-nqt/placement-papers/interview-questions/managerial-round/why-should-i-hire-you-within-200-students/" target="_blank" style="font-size:20px">Answer:prepinsta.com</a>

<li><p><h3 style="font-size:20px">How will you manage a team of trainees ?</h3></p></li>
<a href="https://prepinsta.com/tcs-nqt/placement-papers/interview-questions/managerial-round/how-will-you-manage-a-team-of-trainees/" target="_blank" style="font-size:20px">Answer:prepinsta.com</a>

<li><p><h3 style="font-size:20px">Suppose you are traveling in a boat with your wife and father, and the boat started drowning, whom will you save? </h3></p></li>
<a href="https://prepinsta.com/tcs-nqt/placement-papers/interview-questions/managerial-round/who-will-you-save-your-wife-or-father-from-a-drowning-boat/" target="_blank" style="font-size:20px">Answer:prepinsta.com</a>


  <h2 align="center" style="margin-right:20%"><a href="{% url 'query' %}"><button class="a">click here to post the query</button></a></h2>

</ol>
</body>
</html>

			



