<!DOCTYPE html>
<html>
<head>
<title></title>
<style type="text/css">
    .h2{
      color: #008CBA
    }
  .a{
  border: none;
  background-color: #008CBA;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
body{
  padding-left:20%;
  padding-right: 10px;
}
  </style>
</head>

<body>
  <ol>
<li><p><h3 style="font-size:20px">What are the differences between a C++ struct and C++ class?</h3></p></li>
<a href="https://blogs.sw.siemens.com/embedded-software/2014/06/02/struct-vs-class-in-c" target="_blank" style="font-size:20px">Answer:siemens.com</a>

<li><p><h3 style="font-size:20px">How macro execution is faster than a function?</h3></p></li>
<a href="https://practice-stage.geeksforgeeks.org/problems/how-macro-execution-is-faster-than-function" target="_blank" style="font-size:20px">Answer:geeksforgeeks.org</a>

<li><p><h3 style="font-size:20px">Name the operators that cannot be overloaded?</h3></p></li>
<a href="https://www.tutorialspoint.com/operators-that-cannot-be-overloaded-in-cplusplus" target="_blank" style="font-size:20px">Answer:tutorialspoint.com</a>

<li><p><h3 style="font-size:20px">What is the difference between UNIQUE and PRIMARY KEY constraints?</h3></p></li>
<a href="https://www.geeksforgeeks.org/difference-between-primary-key-and-unique-key/" target="_blank" style="font-size:20px">Answer:geeksforgeeks.org</a>

<li><p><h3 style="font-size:20px">How can we delete Duplicate row in a table?</h3></p></li>
<a href="https://www.sqlshack.com/different-ways-to-sql-delete-duplicate-rows-from-a-sql-table/" target="_blank" style="font-size:20px">Answer:sqlshack.com</a>

<li><p><h3 style="font-size:20px">Tell us about yourself.</h3></p></li>
<a href="https://www.javatpoint.com/wipro-interview-questions" target="_blank" style="font-size:20px">Answer:javapoint.com</a>

<li><p><h3 style="font-size:20px">Why do you want to work at Wipro?</h3></p></li>
<a href="https://www.javatpoint.com/wipro-interview-questions" style="font-size:20px">Answer:javapoint.com</a> 

<li><p><h3 style="font-size:20px">Describe your management style.</h3></p></li>
<a href="https://www.javatpoint.com/wipro-interview-questions" target="_blank" style="font-size:20px">Answer:javapoint.com</a>

<li><p><h3 style="font-size:20px">What do you know about Wipro? When did it come into existence?</h3></p></li>
<a href="https://www.javatpoint.com/wipro-interview-questions" target="_blank" style="font-size:20px">Answer:javapoint.com</a>
 

<li><p><h3 style="font-size:20px">What is your salary expectation?</h3></p></li>
<a href="https://www.javatpoint.com/wipro-interview-questions" target="_blank" style="font-size:20px">Answer:javapoint.com</a><br><br><br>

  <h2 align="center" style="margin-right:20%"><a href="{% url 'query' %}"><button class="a">click here to post the query</button></a></h2>

</ol>
</body>
</html>

			



