<!DOCTYPE html>
<html>
<head>
<title></title>
<style type="text/css">
		.h2{
			color: #008CBA
		}
		.a{
  border: none;
  background-color: #008CBA;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
body{
  padding-left:20%;
  padding-right: 10px;
}

	
	</style>
</head>
<body>
	<ol>
	<li><p><h3 style="font-size:20px">What happens when two positively charged material is placed together?</h3></p></li>
	<a href="chttps://career.guru99.com/top-20-electrical-interview-questions/" target="_blank" style="font-size:20px">Answer:career.guru99.com</a>	

	<li><p><h3 style="font-size:20px">What is referred to the electron in the outer orbit?</h3></p></li>
	<a href="chttps://career.guru99.com/top-20-electrical-interview-questions/" target="_blank" style="font-size:20px">Answer:career.guru99.com</a>	

	<li><p><h3 style="font-size:20px">Define the term Capacitance and Inductance?</h3></p></li>
	<a href="chttps://career.guru99.com/top-20-electrical-interview-questions/" target="_blank" style="font-size:20px">Answer:career.guru99.com</a>	

	<li><p><h3 style="font-size:20px">Mention what is the difference between generator and alternator?</h3></p></li>
	<a href="chttps://career.guru99.com/top-20-electrical-interview-questions/" target="_blank" style="font-size:20px">Answer:career.guru99.com</a>	

	<li><p><h3 style="font-size:20px">Mention what are the different kind of cables used for transmissions?</h3></p></li>
	<a href="chttps://career.guru99.com/top-20-electrical-interview-questions/" target="_blank" style="font-size:20px">Answer:career.guru99.com</a>	

	<li><p><h3 style="font-size:20px">Mention what are the different colors on wires indicates?</h3></p></li>
	<a href="chttps://career.guru99.com/top-20-electrical-interview-questions/" target="_blank" style="font-size:20px">Answer:career.guru99.com</a>	

	<li><p><h3 style="font-size:20px">Explain RLC circuit?</h3></p></li>
	<a href="chttps://career.guru99.com/top-20-electrical-interview-questions/" target="_blank" style="font-size:20px">Answer:career.guru99.com</a>	

	<li><p><h3 style="font-size:20px">Explain how you decide what size of electrical wire do you need?</h3></p></li>
	<a href="chttps://career.guru99.com/top-20-electrical-interview-questions/" target="_blank" style="font-size:20px">Answer:career.guru99.com</a>	

	<li><p><h3 style="font-size:20px">Mention what are the types of semi-conductors?</h3></p></li>
	<a href="chttps://career.guru99.com/top-20-electrical-interview-questions/" target="_blank" style="font-size:20px">Answer:career.guru99.com</a>	

	<li><p><h3 style="font-size:20px">Explain what is transistors comprised of?</h3></p></li>
	<a href="chttps://career.guru99.com/top-20-electrical-interview-questions/" target="_blank" style="font-size:20px;">Answer:career.guru99.com</a><br><br><br>

	<h2 align="center"><a href="{% url 'query' %}"><button class="a">click here to post the query</button></a></h2>
</ol>

</body>
</html>



